.container{
    width: 575px;
    height: 825px;
    background-color: #d9d9a6;
    padding-left: 30px;
}
#height,
#weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}
#weight-guide {
    margin-left: 10px;
    margin-top: 45px;
}
#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(203, 19, 212);
}
button {
    width: 150px;
    height: 35px;
    margin-top: 25px;
    margin-left: 95px;
    color: #212121;
    border-radius: 8px;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #212121;
    font-size: 25px;
    text-align: center;

}

h1 {
    padding-left: 15px;
    padding-top: 25px;
    /* color: rgb(23, 184, 238); */
}
